<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechPart Vision - Result</title>
    <link rel="stylesheet" href="predictionpage.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>TECHPART VISION</h1>
            <nav>
                <a href="index.html">HOME</a>
                <a href="about.html">ABOUT</a>
                <a href="contact.html">CONTACT</a>
                <a href="getstarted.html">GET STARTED</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>Classify PC Hardware</h2>
            <section class="classification">
                <h3>Image Classification</h3>
                <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image">
                <p>The PC Hardware Part is: <em>{{ prediction }}</em></p>
                <a href="getstarted.html"><button>Try with another image!</button></a>
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>CONTACT</p>
            <p>Feel Free to Contact Us</p>
        </div>
    </footer>
</body>
</html>
